name: IobBot Controller

on:
  #repository_dispatch:
  #  types: [check-latest-repositories]

  workflow_dispatch:
  #  inputs:
  #    repository:
  #      type: string
  #      required: true

  schedule:
    # * is a special character in YAML, so you have to quote this string
    # every friday at 1:00
    - cron:  '*/10 * * * *'

jobs:
  iobbot-controller:
    name: iobbot controller
    if: |
      github.repository == 'iobroker-bot-orga/iobbot-controller'
      
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
        
      - name: setup node
        uses: actions/setup-node@v6
        with:
          node-version: 20
          
      - name: Install dependencies
        run: npm install --omit=dev

      - name: run controller job
        run: node iobbotController.js
        env:
          IOBBOT_GITHUB_TOKEN: ${{ secrets.IOBBOT_GITHUB_TOKEN }}
